In [1]:
import pandas as pd

In [2]:
IQR=pd.read_csv("IQRAssignment.csv")

In [3]:
IQRASS=pd.DataFrame(index=["Minimum","Q1","Median","Q3","Maximum","IQR","1.5Rule","Lesser","Greater"],columns=["Day","Night"])

In [4]:
IQRASS

         Day Night
Minimum  NaN   NaN
Q1       NaN   NaN
Median   NaN   NaN
Q3       NaN   NaN
Maximum  NaN   NaN
IQR      NaN   NaN
1.5Rule  NaN   NaN
Lesser   NaN   NaN
Greater  NaN   NaN

In [5]:
IQRASS.loc["Minimum"] = [32.0, 25.5]
IQRASS.loc["Q1"] = [56, 78]
IQRASS.loc["Median"] = [74.5, 81.0]
IQRASS.loc["Q3"] = [82.5, 89.0]
IQRASS.loc["Maximum"] = [99, 98]
IQRASS.loc["IQR"]=IQRASS.loc["Q3"]-IQRASS.loc["Q1"]
IQRASS.loc["1.5Rule"]=1.5*IQRASS.loc["IQR"]
IQRASS.loc["Lesser"]=IQRASS.loc["Q1"]-IQRASS.loc["1.5Rule"]
IQRASS.loc["Greater"]=IQRASS.loc["Q3"]+IQRASS.loc["1.5Rule"]

In [6]:
for col in ["Day", "Night"]:
    if(IQRASS.loc["Minimum",col]<IQRASS.loc["Lesser", col]):
        IQRASS.loc["Minimum", col] = IQRASS.loc["Lesser", col]
    if(IQRASS.loc["Maximum", col] > IQRASS.loc["Greater", col]):
        IQRASS.loc["Maximum", col] = IQRASS.loc["Greater", col]

In [7]:
IQRASS

            Day  Night
Minimum      32   61.5
Q1           56     78
Median     74.5     81
Q3         82.5     89
Maximum      99     98
IQR        26.5     11
1.5Rule   39.75   16.5
Lesser    16.25   61.5
Greater  122.25  105.5